.sp-wrap{width:98%;clear:both;background:#E9E9E6;margin:8px auto;padding:0;border-radius: 7px;}
.sp-wrap,.sp-head,.sp-body{border:solid #C3CBD1;clear:both;border-width:1px 1px 1px 2px}
.sp-body{display:none;font-weight:400;background:#F5F5F5;border-bottom-right-radius:7px;border-bottom-left-radius:7px;border-width:1px 0 0;padding:2px 6px}
.sp-head{text-align:left!important;font-size:11px;margin-left:6px;line-height:15px;font-weight:700;color:#2A2A2A;cursor:pointer;border-width:0;padding:1px 14px 3px}
.sp-fold{width:98%;margin: 0 auto;text-align:right;font-size:10px;color:#444444;}
.clickable{cursor:pointer}
.folded{display:block;background:transparent url(../../images/spoiler/icon_plus_1.gif) no-repeat left center;padding-left:14px}
.unfolded{display:block;background:transparent url(../../images/spoiler/icon_minus_1.gif) no-repeat left center;padding-left:14px}
.clear-spoiler{clear:both;height:0;font-size:0;line-height:0;overflow:hidden}